:root {
  --color-text: #000;
  --color-secondary-text: #555;
  --color-background: #f7f7f7;
  --color-border: #ddd;
  --color-primary: #005CFF;
  --color-danger: #e53935;
  --color-placeholder: #999;
  --color-highlight: #6220C1;
  --color-discount: #5EC0BE;

  --font-family: "Nunito Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  color: var(--color-text);
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1010;
  background-color: var(--color-primary); 
  padding: 8px 16px;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid var(--color-border);
}

header {
  position: fixed;
  top: 54px;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  padding: 1rem;
}

.top-bar p {
  color: var(--color-background);
  line-height: 1.4;
}

.top-bar p #value {
  background-color: var(--color-highlight);
  padding: 0 .3rem;
}

.top-bar p #descount {
  font-weight: 100;
  text-transform: uppercase;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-button img {
  width: 24px;
  height: 24px;
}

.site-logo a {
  display: inline-block;
}

.site-logo img {
  height: 40px;
  width: auto;
}

.cart-icon {
  position: relative;
}

.cart-icon a {
  display: block;
}

.cart-icon img {
  width: 24px;
  height: 24px;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--color-primary);
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

.header-search {
  width: 100%;
  margin: 0 auto;
  min-height: 60px;
}

.header-search form div {
  position: relative;
  display: block;
  width: 100%;
}

.header-search input[type="search"] {
  width: 100%;
  font-size: 14px;
  padding: 10px 38px 10px 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  color: #333;
}

.header-search input[type="search"]::placeholder {
  color: black;
  font-size: 14px;
}

.header-search input::placeholder {
  color: #999;
}

.header-search button {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-search button img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

main {
  margin-top: 204px;
}


.hero-banner {
  position: relative;
  overflow: hidden;
  background-color: #E7E7EA;
  max-height: 510px;
}

.carousel {
  width: 100%;
  position: relative;
  max-width: 1200px;
  overflow: hidden;
}

.carousel a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.carousel h1 {
  font-size: 40px;
  color: black;
  font-weight: 300;
  line-height: 40px;
}

.carousel h1 strong {
  font-weight: 700;
  display: block;
}

.carousel p {
  font-size: 12px;
  color: #005CFF;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 600;
  margin-top: 12px;
}

.carousel p strong {
  display: block;
  font-size: 32px;
  margin-top: inherit;
}

.hero-banner figure,
.hero-banner img {
  width: 100%;
  display: block;
  min-width: 300px;
}

.carousel-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slides div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-slides a {
  width: 100%;
  flex-shrink: 0;
}

.carousel-slides img {
  display: block;
  object-fit: cover;
}

.carousel-nav {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.carousel-dots {
  list-style: none;
  display: flex;
  gap: 8px;
}

.carousel-dots .dot {
  width: 12px;
  height: 12px;
  background-color: rgba(204, 204, 204, 0.8);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-dots .dot.active,
.carousel-dots .dot:hover {
  background-color: rgba(51, 51, 51, 0.9);
}

.new-arrivals {
  margin: 2rem 1rem;
  padding: 1rem;
}

.new-arrivals-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.new-arrivals-header h2 {
  font-size: 1.5rem;
  color: #333;
}

.new-arrivals-header .see-more {
  font-size: 0.875rem;
  color: black;
  text-decoration: underline;
  font-weight: 500;
}

.new-arrivals-header .see-more:hover {
  text-decoration: underline;
}

.product-carousel {
  position: relative;
  /* overflow: hidden; */
}

.product-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 1rem;
  transition: transform 0.3s ease;
}

.carousel-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  padding: .6rem;
  border-radius: 50%;
  border: solid var(--color-primary) .5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.carousel-button.prev {
  left: -50px;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
}

.carousel-button.next {
  right: -50px;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
}

.carousel-button.next img {
  transform: rotate(180deg);
}

.product-card {
  flex: 0 0 220px;
  min-height: 350px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  position: relative; 
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card .badge-new {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: #00264E; 
  color: #fff;
  font-size: 0.75rem;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
}

.badge-discount {
  background: var(--color-discount); 
  color: #fff;
  font-size: 0.75rem;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  display: inline-block;
  margin-left: 0.5rem;
}

.product-image {
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.product-title {
  color: #333;
  margin-bottom: 0.75rem;
  line-height: 1.3;
  font-family: Nunito Sans;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;

}

.product-pricing {
  margin-bottom: 1rem;
}

.old-price-discount {
  display: flex;            
  align-items: baseline;    
  gap: 0.5rem;              
}

.old-price {
  font-size: 0.875rem;
  text-decoration: line-through;
  color: #999;
  margin: 0; 
}

.badge-discount {
  background: var(--color-discount);  
  color: #fff;
  font-size: 0.75rem;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  display: inline-block; 
}

.current-price {
  font-size: 1.25rem;
  font-weight: 600;
  color: #444;
  margin-bottom: 0.3rem;
}

.installments {
  font-size: 0.875rem;
  margin: 0;
}

.btn-buy {
  width: 100%;
  background-color: var(--color-primary, #007bff);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
}

.btn-buy:hover {
  background-color: #0056b3;
}

.new-carousel-nav {
  text-align: center;
  margin-top: 16px;
}

.new-carousel-dots {
  list-style: none;
  display: inline-flex;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.new-carousel-dots .dot {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.new-carousel-dots .dot.active,
.new-carousel-dots .dot:hover {
  background-color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.cup-showcase .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 3rem auto;
}

.cup-figure {
  text-align: center;
  background-color: #C2C2C2;
}

.reverse .cup-figure {
  background-color: transparent;
}

.cup-figure img {
  width: 100%;
  min-width: 350px;
  height: auto;
  object-fit: contain;
}

.cup-article {
  background-color: #fff;
  padding: 2rem 1rem;
  max-width: 600px;
  margin: 0 auto;
}

.cup-article h2 {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.cup-article p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.reverse {
  background-color: #DEDEDE;
}

.info-section {
  padding: 2rem 1rem; 
  max-width: 550px;
  margin: 0 auto;    
}

.info-section h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #4F4F4F;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 26px;
  margin-bottom: 1.5rem;
}

.info-icon {
  padding: 1.875rem;
  background-color: var(--color-primary);
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-icon img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}


.info-item p {
  line-height: 1.6;
  font-size: 12px;
}

.company-banner {
  background-image: url('./assets/avanti-company.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 660px;
}

.company-figure {
  margin: 0;
}

.company-figure img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.contact-message {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  z-index: 10;
  background-color: var(--color-primary);
  padding: 1rem;
  color: #fff;
  font-size: 1.1rem;
}

.new-arrivals.second {
  display: none;
}

.newsletter-container {
  border-radius: 8px;
  padding: 2rem;
  margin: 40px auto;
  text-align: center;
}

#newsletter-form {
  background-color: #F5F5F5;
  padding: 38px 1rem;
  border-radius: 8px;
}

.newsletter-container h2 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.newsletter-container h2 span {
  color: var(--color-primary);
}

.newsletter-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.newsletter-container input[type="text"],
.newsletter-container input[type="email"] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem 1.8rem;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s ease;
}

.newsletter-container input::placeholder {
  color: #303030;
}

.newsletter-container input[type="text"]:focus,
.newsletter-container input[type="email"]:focus {
  border-color: #007BFF;
}

.newsletter-container label {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  font-size: 0.875rem;
  color: #656565;
  text-align: left;
  margin: 0 auto;
}

.newsletter-container label a {
  color: inherit;
}

.newsletter-container label a:hover {
  text-decoration: none;
}

.newsletter-container button {
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.newsletter-container button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #f9f9f9; 
}

.social-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;        
  padding: 40px 1rem;      
}

.social-section .logo img {
  height: auto;
}

.social-icons {
  display: flex;   
  justify-content: space-around; 
  gap: 2rem; 
  margin-top: 1.5rem; 
}

.social-icons img {
  object-fit: cover;
  transition: transform 0.3s;
}

.social-icons a:hover img {
  transform: scale(1.1);
}

.accordion-group {
  margin: 1rem auto;
}

.accordion-item {
  border: 1px solid #eee;
  overflow: hidden;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.75rem 1rem;
}

.accordion-header h5 {
  font-size: 1rem;
  margin: 0;
}

.accordion-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
}

.accordion-toggle img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.accordion-toggle.expanded {
  transform: rotate(180deg);
}

.accordion-content {
  padding: 0.75rem 1rem;
  padding-left: 2rem;
  animation: slideDown 0.3s ease forwards;
}

.accordion-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.accordion-content li {
  margin-bottom: 0.5rem;
}

.accordion-content a {
  text-decoration: none;
  color: #666;
}

.accordion-content a:hover {
  color: #333;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.payment-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem 1rem;  
  background-color: #f9f9f9;
  margin: 0 auto;
}

.payment-row {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center; 
  gap: 2rem;  
  margin-bottom: 1.5rem;
}

.payment-row img {
  height: auto;
  object-fit: contain;
  transition: transform 0.3s;
}

.payment-row img:hover {
  transform: scale(1.1);
}

.certification-section {
  padding: 1rem;
  background-color: white;
}

.certification-section p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 40px auto;
  text-align: center;
}

.certification-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem; 
  flex-wrap: wrap;
}

.certification-logos img {
  width: auto;
  object-fit: contain;
  transition: transform 0.2s ease-in-out;
}

.certification-logos img:hover {
  transform: scale(1.05);
}

.desktop-header {
  max-width: 1200px;
  margin: 0 auto;
}

.desktop-header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  margin-bottom: 24px;
}

.desktop-header-top > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.desktop-header-left {
  gap: 5rem;
  max-width: 1340px;
}

.desktop-header-right {
  max-width: 200px;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.user-info .user-greeting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
}

.desktop-nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.desktop-nav ul a {
  text-decoration: none;
  color: var(--color-text);
  font-size: 14px;
  font-weight: 500;
  /* padding: 0.5rem 1rem; */
}

#categories-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: bold;
}

#categories-link:hover {
  color: #007BFF;
}


#categories-link img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.footer-links {
  display: none;
  gap: 3rem;
}

.footer-section__list {
  list-style: none;
  line-height: 1.8rem;
}

.footer-section__link {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem 0;
}

.footer-section__title {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .desktop-header {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile-header {
    display: none;
  }

  .accordion-group {
    display: none;
  }

  .carousel h1 {
    font-size: 100px;
  }

  .carousel p strong {
    font-size: 60px;
  }

  .carousel h1 strong {
    display: inline;
  }

  .new-arrivals.second {
    display: block;
  }

  .carousel p {
    font-size: 25px;
  }

  /* .container {
    padding: 3rem;
  } */

  .cup-showcase .container {
    padding: 3rem 1rem;
  }

  .hero-banner .container {
    padding: 0;
  }

  .cup-showcase .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .cup-showcase .container h2 {
    font-size: 30px;
  }

  .cup-showcase .container p {
    font-size: 18px;
    line-height: 1.6;
  }

  .reverse .container {
    flex-direction: row-reverse;
  }

  .contact-message {
    font-size: 30px;
    height: 132px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #newsletter-form {
    flex-direction: row;
  }

  #newsletter-form button {
    width: fit-content;
    padding: 14px 24px;
  }

  /* footer .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  footer .container > :nth-child(3) {
    grid-column: 1 / -1;
  } */

  footer .contact-section {
    display: flex;
    justify-content: center;
    gap: 8rem;
  }

  .social-section {
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .payment-icons {
    flex-direction: row;
  }

  .payment-row {
    margin-bottom: 0;
  }

  .footer-links {
    display: flex;
    gap: 6rem;
  }
}

@media screen and (min-width: 565px) {
  header {
    top: 37px;
  }
}